body{
    font-family:Arial, Helvetica, sans-serif ;
    background: rgb(134, 183, 189);
}
*{
    margin:0px ;
    padding: 0px;
}
.product-container{
text-align: center;

}
.product-card{
    text-align: center;
    width: 320px; 
background: rgb(238, 235, 235);
padding:15px ;
margin:10px ;
display: inline-block;
border:3px  double red;
border-radius: 0px 0px 50px 0px;
border-bottom-left-radius: 8px;

}
.product-card:hover{
background: rgb(219, 208, 208);
box-shadow: 10px 10px 6px rgb(0, 0,0.1) ;

}
button:hover{
    background:#333;
}
img{
    width: 100%;
    height:300px;
    border-radius: 20px;
}

h3{
    
    font-size: 28px;
    margin: 10px 0;
    /* text-shadow: 100px 0px 5px rgb(240, 2, 240); */


}
.price{
    font-weight: bold;
    color:greenyellow ;
    font-size: 25px;
}
button{
    background-color:black ;
    color: white;
    border: none;
    font-size: 20px;
    margin-top: 20px ;
    padding: 8px 12px;
    cursor:pointer ;
    border-radius: 8px ;
}
ul{
    list-style: none;
    text-align: center;
    background-color: blue;
    padding: 20px;
   
}
li{
    width:24%;
    color: aliceblue;
    display: inline-block;
font-size: 18px;

}
li:hover{
    font-size:20px ;
    cursor: pointer;
}
a{
    text-decoration:none ;
    color: rgb(243, 249, 249);
}
.main{
    display: block;
}
.one{
    width: 48%;
    display: inline-block;
}
.two{
    width: 48%;
    display: inline-block;
}

#detailsimage{
    width: 100%;
    
}
.maincontainer{
   width: 300px;
   height: 100px;
   border:1px solid red ;
   text-align: center;
   margin:20px auto; 
   padding-top:40px ;
  
}